@font-face {
  font-family: 'iconfont'; /* Project id 3841663 */
  src: url('//at.alicdn.com/t/c/font_3841663_m2n47nuo5qd.woff2?t=1685874322898') format('woff2'),
    url('//at.alicdn.com/t/c/font_3841663_m2n47nuo5qd.woff?t=1685874322898') format('woff'),
    url('//at.alicdn.com/t/c/font_3841663_m2n47nuo5qd.ttf?t=1685874322898') format('truetype');
}
.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon:before {
  content: '\e651';
}

.icon-pinglun:before {
  content: '\e891';
}

.icon-shoucang:before {
  content: '\e610';
}

.icon-gitee:before {
  content: '\e60c';
}

.icon-wechat:before {
  content: '\e868';
}

.icon-qq:before {
  content: '\e6ca';
}

.icon-search:before {
  content: '\e61f';
}

.icon-daohang:before {
  content: '\e88a';
}

.icon-liuyan:before {
  content: '\e744';
}

.icon-home:before {
  content: '\e68e';
}

.icon-fenlei:before {
  content: '\e653';
}

.icon-41shuoshuo:before {
  content: '\e658';
}

.icon-biaoqian:before {
  content: '\e63d';
}

.icon-github-fill:before {
  content: '\e885';
}

.icon-like:before {
  content: '\e7bf';
}
