@font-face {
  font-family: "iconfont"; /* Project id 3841663 */
  src: url("iconfont.woff2?t=1686988112801") format("woff2"),
    url("iconfont.woff?t=1686988112801") format("woff"),
    url("iconfont.ttf?t=1686988112801") format("truetype");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pushpin-fill:before {
  content: "\e86d";
}

.icon-tag-fill:before {
  content: "\e86e";
}

.icon-github:before {
  content: "\e628";
}

.icon-comments:before {
  content: "\e69b";
}

.icon-skip:before {
  content: "\e718";
}

.icon-bad:before {
  content: "\e716";
}

.icon-good:before {
  content: "\e717";
}

.icon-mulu:before {
  content: "\e608";
}

.icon-backtop:before {
  content: "\e6c6";
}

.icon-a-9fengexian:before {
  content: "\e63b";
}

.icon-fenlei-copy:before {
  content: "\e64e";
}

.icon-fenlei1:before {
  content: "\e62f";
}

.icon-biaoqian1:before {
  content: "\e655";
}

.icon-icon:before {
  content: "\e651";
}

.icon-pinglun:before {
  content: "\e891";
}

.icon-shoucang:before {
  content: "\e610";
}

.icon-gitee:before {
  content: "\e60c";
}

.icon-wechat:before {
  content: "\e868";
}

.icon-qq:before {
  content: "\e6ca";
}

.icon-search:before {
  content: "\e61f";
}

.icon-daohang:before {
  content: "\e88a";
}

.icon-liuyan:before {
  content: "\e744";
}

.icon-home:before {
  content: "\e68e";
}

.icon-fenlei:before {
  content: "\e653";
}

.icon-41shuoshuo:before {
  content: "\e658";
}

.icon-biaoqian:before {
  content: "\e63d";
}

.icon-github-fill:before {
  content: "\e885";
}

.icon-like:before {
  content: "\e7bf";
}
